@charset "UTF-8";

h3
{
	text-align : justify;
	width : 40%;
	font-family : overlock  sans-serif;
}
h2.span
{
	font-family : overlock, sans-serif;
	font-size : 12px;
	font-weight : bold;
}
h3.ano1984
{
	position : absolute;
	bottom : 2250px;
	font-size : 13px;
	text-align : justify;
}
h5.ano1984
{
	position : absolute;
	text-align : center;
	display : float;
	left : 455px;
	bottom : 2300px;
	background : white;
	margin-right : 830px;
	font-size : 25px;
}
h6.ano1984
{
	position : absolute;
	bottom : 2280px;
	font-size : 25px;
	font-family : Overlock, sans-serif;
}
h5.ano2003
{
	position : absolute;
	text-align : center;
	display : float;
	left : 455px;
	bottom : 1850px;
	background : white;
	margin-right : 830px;
	font-size : 25px;
}
h6.ano2003
{
	position : absolute;
	bottom : 1820px;
	right : 100px;
	font-size : 25px;
	font-family : Overlock, sans-serif;
}
h3.ano2003
{
	position : absolute;
	bottom : 1750px;
	right : 50px;
	font-size : 13px;
	text-align : justify;
}
h5.ano2014
{
	position : absolute;
	text-align : center;
	display : float;
	left : 455px;
	bottom : 1500px;
	background : white;
	margin-right : 830px;
	font-size : 25px;
}
h6.ano2014direita
{
	position : absolute;
	bottom : 1430px;
	right : 60px;
	font-size : 25px;
	font-family : Overlock, sans-serif;
}
h6.ano2014direita2{
	position : absolute;
	bottom : 1150px;
	right : 10px;
	font-size : 25px;
	font-family : Overlock, sans-serif;
}
h3.ano2014direita
{
	position : absolute;
	bottom : 1380px;
	right : 50px;
	font-size : 13px;
	text-align : justify;
}
h3.ano2014direita2
{
	position : absolute;
	bottom : 1120px;
	right : 50px;
	font-size : 13px;
	text-align : justify;
}
h6.ano2014esquerda
{
	position : absolute;
	bottom : 1430px;
	font-size : 25px;
	font-family : Overlock, sans-serif;
}
h3.ano2014esquerda
{
	position : absolute;
	bottom : 1360px;
	font-size : 13px;
	text-align : justify;
}
h5.ano2015
{
	position : absolute;
	text-align : center;
	display : float;
	left : 455px;
	bottom : 1050px;
	background : white;
	margin-right : 830px;
	font-size : 25px;
}
h6.ano2015
{
	position : absolute;
	bottom : 1000px;
	font-size : 25px;
	font-family : Overlock, sans-serif;
}
h3.ano2015
{
	position : absolute;
	bottom : 1000px;
	font-size : 13px;
	text-align : justify;
}
figure.atividadeLegislacao
{
	margin-right : 270px;
	margin-left : 270px;
	display : block;
	box-shadow : 2px 2px 2px 2px rgb(50,50,50);
	background-color : rgb(211,211,211);
	border-radius : 10px;
	position : relative;
}

figure.atividadeLegislacao figcaption
{
	font-weight : bolder;
	color : rgb(137,34,34);
	position : relative;
	top : -35px;
	left : 80px;
	font-size : small;
}
figure.atividadeLegislacao img 
{
	position : relative;
	top : 20px;
	left : 10px
}
figure.atividadeLegislacao a
{
	color : black;
	font-size : 20px;
}
div.myDIV
{
	position : absolute;
	left : 10px;
	display : none;
	background-color : rgb(220,220,220);
	box-shadow : 2px 2px 2px 2px black;
	border-radius : 10px;
	width : 90%;
	padding : 5px;
}
span
{
	text-decoration : underline;
	cursor : pointer;
	color : darkblue;
	font-style : italic;
	font-size : 15px;
}